@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  width: 100vw;
  height: auto;
  font-size: 10px;
  padding-bottom: 50px;
}

a:hover {
  text-decoration: underline;
}

div[class*='-icon'] {
  cursor: pointer;
}
